.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
/devops/*
/node_modules/*
/public/*
/aws
src/node_modules/*

# To prevent storing dev/temporary container data
*.csv
*.sql
/tmp/*