{{ $featured_image := .Param "featured_image" | default "uploads/ac-train-track-bg.jpg" }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}

<header class="sans-serif">
  <div class="cover bg-left bg-center-l" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-80 pb5 pb6-m pb6-l">
      <nav class="dt w-100 mw8 center">
        <div class="dtc w2 v-mid pa3">
          <a href="/" class="dib w3 h1">
            <img src="{{ .Site.BaseURL }}uploads/asp-logo-transparent-white-400x395.png" alt="ASP" height="70" width="69">
          </a>
        </div>
        <div class="dtc v-mid tr">
          {{ partial "site-navigation.html" .}}{{ end }}
        </div>
      </nav>
      <div class="tr-l mt4 mt5-m mt6-l ph5-ns white">
          <h1 class="f4-custom measure lh-title fw9 tracked-tight white">Great stories communicate simple truths that reflect the poetic dimensions of the human soul. 
              Not only do powerful characters help us understand our lives, their stories reflect our core values as human beings.</h1>
          <h2 class="f6 fw6">- Kate Wright</h2>
      </div>
    </div>
  </div>
</header>
