{{ define "main" }}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

  <!-- Updates section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

      <div class="cf">

        <!-- Updates widget starts -->
        <article class="fl w-100 w-100-m w-50-ns pr0">
          <div class="w-100 w-100-ns pr4-ns">
            <h1 class="f3 mt0 mb4 lh-title">Updates</h1>

            {{ $paginator := .Paginate (where .Pages "Type" "updates") 4 }}

            {{ range $paginator.Pages }}

            <article class="dt w-100 pb2 mt2">
              <div class="dtc w3 w3-ns">
                <time>{{ .Date | dateFormat "2006"}}</time>
              </div>
              <div class="pl3">
                <h1 class="f4 f4-ns fw6 lh-title mt0 mb2"><a class="black" href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <p class="mt0 black-60">{{ .Summary }}</p>
              </div>
            </article>

            {{ end }}

          </div>
        </article>
        <!-- END Updates widget -->

        <article class="fl w-100 w-100-m w-50-ns">
          <div class="aspect-ratio aspect-ratio--16x9">
            <iframe src="https://www.youtube.com/embed/fIDlmBmhPFY" class="aspect-ratio--object" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        {{ range (where .Site.Pages "Type" "about") }}

        <article class="fl w-100 pa3 bg-near-white mt3">
          <h2 class="f4 mt0 lh-title">{{ .Title }}</h2>
          <p>
            {{ .Summary }}
          </p>
          <a href="{{ .Permalink}}" class="fr underline grow dib black">Read more</a>
        </article>

        {{ end }}

        </article>

      </dev>

  </section>
  <!-- END updates section -->

  <!-- Writer callout section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

    <div class="cf">

      <article class="fl w-100 w-100-m w-50-ns pr2 pr2-ns">
        <div class="dtc v-mid flex justify-center">
          <img src="http://tachyons.io/img/space.jpg" class="db br-100 h5 w5" alt="Photo of outer space">
        </div>
      </article>

      {{ range (where .Site.Pages "Type" "our-search-for-writers") }}

      <article class="fl w-100 w-100-m w-50-ns measure-wide v-mid">
        <h1 class="flex-none">{{ .Title }}</h1>
        <p>
          {{ .Content }}
        </p>
      </article>

      {{ end }}

    </div>

  </section>
  <!-- END Writer callout section -->

  <!-- people section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

    <div class="cf">

    <h1 class="tc">Team</h1>

    {{ $randomPosts := shuffle (where .Pages "Type" "people") }}

    {{ range $randomPosts }}

    <article class="fl w-100 w-third-l">
      <div class="aspect-ratio--4x3 mr5 pb0">
      
        <a href="{{ .Permalink}}"><img src="{{ .Params.people_feature_image | relURL }}" class="db bg-center cover"></a>
        
      </div>
      <a href="{{ .Permalink}}" class="ph2 ph0-ns pb3 link db"><h3 class="f5 f4-ns mb0 black-90">{{ .Title }}</h3></a>
        <p class="f5 fw4 mt2 black-60 mr5">{{ .Summary }}</p>

      <a href="{{ .Permalink}}" class="fl underline grow dib black">Read more</a>
    </article>

    {{ end }}

    </div>

  </section>
  <!-- END people section -->

  <!-- Contact section -->
  <section class="pa3 pa5-ns b--black-10 black-70">

    <div class="cf">

      <h1 class="tc">Get in touch with us</h1>

      {{ partial "contact-form.html" . }}

      <article class="fl w-100 w-40-ns">Text</article>

    </div>

  </section>
  <!-- END contact section -->
  {{ end }}
{{ end }}
