{{ define "main" }}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

  <!-- Updates section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

      <div class="cf">

        <!-- Updates widget starts -->
        <article class="fl w-100 w-100-m w-40-ns pr0">
          <div class="w-100 w-100-ns pr4-ns">
            <h1 class="f3 mt0 mb4 lh-title">Updates</h1>

            {{ $paginator := .Paginate (where .Pages "Type" "updates") 4 }}

            {{ range $paginator.Pages }}

            <article class="dt w-100 pb2 mt2">
              <div class="dtc w3 w3-ns">
                <time>{{ .Date | dateFormat "2006"}}</time>
              </div>
              <div class="pl3">
                <h2 class="f5 f5-ns fw6 lh-title mt0 mb2">{{ .Title }}</h2>
              </div>
            </article>

            {{ end }}
    
          </div>
        </article>
        <!-- END Updates widget -->

        {{ $randomPosts := shuffle (where .Pages "Type" "testimonials") }}

        {{ range $randomPosts | first 1 }}

        <article class="fl w-100 w-100-m w-60-ns">
          <div class="pa3 pa3-ns">
                    
            <blockquote class="f3 tracked-tight fw5">
              {{ .Content }}   
              <div class="dtc w2 w3-ns v-mid">
                  <a href="{{ .Permalink}}"></a><img src="{{ .Params.testimonial_quote_image | relURL }}" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/></a>
                </div>
                <div class="dtc v-mid pl3">
                  <cite class="f6 f5-ns fw6 lh-title mv0">-- {{ .Params.title }}</cite>
                </div>
            </blockquote>

        </div>

        {{ end }}

        </article>

      </dev>
  </section>
  <!-- END updates section -->

  <!-- about us section -->
  {{ range (where .Site.Pages "Type" "about-us") }}

  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
    <div class="measure-wide center">
    <h1 class="f3 mt0 lh-title gov-blue">{{ .Title }}</h1>
    <p>
      {{ .Summary }}
    </p>
    <a href="{{ .Permalink}}" class="fr underline dib black">Read more</a>
    </div>
  </section>

  {{ end }}
  <!-- END about us section -->

  <!-- Writer callout section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

    <div class="cf">

        {{ range (where .Site.Pages "Type" "our-search-for-writers") }}

      <article class="fl w-100 w-100-m w-50-ns measure-wide tc">
            <a href="{{ .Permalink}}"><img src="{{ .Params.feature_image | relURL }}" class="h5 w5 dib v-mid"></a>
      </article>

      <article class="fl w-100 w-100-m w-50-ns measure-wide">
            <p class="f3 dib v-mid">{{ .Params.image_aside_quote }}</p>
      </article>

      </div>

    </section>
      <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
      <div class="cf">

      <article class="w-100 w-100-m w-100-ns measure-wide center">
        <h1 class="f3 flex-none tc">{{ .Title }}</h1>
        <p class="f3">
          {{ .Content }}
        </p>
      </article>

      {{ end }}

    </div>

  </section>
  <!-- END Writer callout section -->

  <!-- people section -->
  <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">

    <div class="cf">

    <h1 class="tc">Meet the people behind ASP</h1>

    {{ $randomPosts := shuffle (where .Pages "Type" "people") }}

    {{ range $randomPosts }}

    <article class="fl w-100 w-third-l">
      <div class="aspect-ratio--4x3 mr5 pb0">

        <a href="{{ .Permalink}}"><img src="{{ .Params.people_feature_image | relURL }}" class="db bg-center cover"></a>

      </div>
      <a href="{{ .Permalink}}" class="ph2 ph0-ns pb3 link db"><h3 class="f5 f4-ns mb0 black-90">{{ .Title }}</h3></a>
        <p class="f5 fw4 mt2 black-60 mr5">{{ .Summary }}</p>

      <a href="{{ .Permalink}}" class="fl underline grow dib black">Read more</a>
    </article>

    {{ end }}

    </div>

  </section>
  <!-- END people section -->

  <!-- Contact section -->
  <a name="contact"></a>
  <section class="pa3 pa5-ns b--black-10 black-70">

    <div class="cf">

      <h1 class="tc">Get in touch with us</h1>

      <article class="db bg-center br-100 w6 w6-ns cover">{{ partial "contact-form.html" . }}</article>

    </div>

  </section>
  <!-- END contact section -->
  {{ end }}
{{ end }}
