/* Put your custom styles here and run `npm start` from the "src" directory on */

html {
  font-size: 18px;
}

h1 {
  color:#005ea5;
}

.f4-custom {
  font-size: 4rem;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}
