/* Put your custom styles here and run `npm start` from the "src" directory on */

html {
  font-size: 18px;
}

h1 {
  color:#005ea5;
}

p {
  font-size: 1.2em;
}

.button-custom {
  background-color: #005ea5;
  border:0;
  cursor: pointer;
}
.f4-custom {
  background:rgba(48, 48, 48, .8);
  display: inline;
  font-size: 1.7em;
}

.tag-custom {
  background:rgba(48, 48, 48, .8);
  display: inline;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}
